header{
    height: 150px;
    border: 2px solid greenyellow;
    background-image: url(/image/beautiful.jpg), url(/image/nature.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    text-align: center;
    font-size: 50px;
    
}
#dolor{
    border: 2px dotted green;
    display: block;
    height:30px
    
}
#dolor{
    color: aqua;
    text-align: center;
    /* display: none ; */
    /* visibility: hidden; */
}
#read{
    width: 100px;
    margin: 5px 10% 5px 10%;
    /* display: block; */
    color:brown ;
    background-color: blueviolet;
    border: 3px solid seagreen;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    /* display:inline; */
    
}
#ima{
    border: 2px solid tomato;
    padding: 10px;
    /* background-image: url(image/solid.jpg); */
    /* background-repeat: repeat; */
    margin: 10px;
    padding: 10px;
    
}